/* --------------Screen 768px------------------ */
@media (min-width:768px){

    .nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    }  
    
    .nav-list{
    display:flex;
    }
    
    
    
    /* --------------BIO-RULES------------------- */
    
    .bio-container{
    display: flex;
    flex-direction: row;
    background: #F8F8F8 no-repeat fixed center;
    height: 300px;
   
    }

    img{
      justify-content: center;
      align-items: center;  
      margin-left: 5px;  
      margin-bottom: 50px;
      margin-right: 10px;
     }

     .bio-info{
      text-align: left;
      font-size: 20px;
      margin-right: 15px;
      margin-left: 20px;
       }
    
    /* --------------MAIN-CONTENT-RULES------------------- */
    
    .wrapper-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:center;
    grid-gap: 1rem;
    }
        
    .container{
    text-align: center;
    }

    /* --------------Footer-INFO------------------- */
    .p-info{
      text-align: center;
      padding: 0 200px 0 200px;
     }
    /* --------------FOOTER-NAV------------------- */

    


    .footer-container {
    display: flex;  
    flex-direction:row;
    }
        
    .footer-nav{
    display: flex;  
    flex-direction:row;
    font-size: .95em;
    text-transform: uppercase;
    }
    
    .name{
    margin-right: auto;
    }
    
   
    
    .nav-items-4{
    display: none;
    }

    .nav-items{
    display: list-item
    
    }
    
    }
    
    /* --------------Screen 1024px------------------ */
    
    @media (min-width:1024px){
    .nav-header {
    display: flex;  
    flex-direction:row;
    }
    
    .nav-list{
    display: flex;  
    flex-direction:row;
    
    }
    
    .student-name{
    margin-right: auto;
    }

    .nav-item{
      font-size: 1.25em;
      text-transform: uppercase;
      }
    
    /* --------------BIO-RULES------------------- */
    
    .bio-container{
    display: flex;
    flex-direction: row;
    background: #F8F8F8 no-repeat fixed center;
    background-size: 200px;
    }

    .bio-info{
      text-align: left;
      margin-left: 20px;
      margin-right: 200px;
      font-size: 25px;
      
   
   }

   img{
    margin-right: 75px;  
   }

    
    
    /* --------------MAIN-CONTENT-RULES------------------- */
    
    .wrapper-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:center;
    grid-gap: 1rem;
    }
            
    .container{
    text-align: center;
    }

    /* --------------Footer-INFO------------------- */
    .p-info{
      text-align: center;
      padding: 0 200px 0 200px;
     }
       
 /* --------------FOOTER-NAV------------------- */
    
    .footer-container {
    display: flex;  
    flex-direction:row;
     }
        
    .footer-nav{
    display: flex;  
    flex-direction:row;
    }
        
    .name{
    margin-right: auto;
    }
    
    
    .nav-items-4{
    display: none;
     }

     .name {
      font-size: 1.35em;
      text-transform: uppercase;
      }
      
      
      .nav-items{
      font-size: 1.25em;
      text-transform: uppercase;
      }

    }
    
    
    
    
    