
ul > li{
margin: 5px;
}
/* --------------NAVBAR-RULES------------------- */

.student-name {
    font-size: 1.35em;
    margin: 0;
    text-transform: uppercase;
    }
    
    .student-name,
    .nav-list  {
    text-align: center;
    display: block;
    padding: 10px 15px;
    }
    
    .nav-list{
    margin-top: 5px;
    font-size: .95em;
    text-transform: uppercase;
    }
    
    ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
    .nav-list > .nav-item{
    margin: 10px;
    }

    .nav-item{
     background: #ffffff no-repeat fixed center;
     padding: 20px;

    }
    /* --------------BIO-RULES------------------- */
    
    
    .bio-container{
    display: flex;
    flex-direction: column;
    
    }
     .bio-info{
      text-align: center;
      justify-content: center;
      align-items: center;
      
       }

       img{
        justify-content: center;
        align-items: center;  
        align-self: center; 
        margin: 0;
       }

         
  
    /* --------------MAIN-HEADING------------------- */
    
    .section-h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    }
   
    
    /* --------------MAIN-CONTENT-RULES------------------- */
    
    .wrapper-grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-content:center;
    grid-gap: 1rem;
    }
    
    .container{
    text-align: center;
    }
    
    
    /* --------------Footer-INFO------------------- */
    
    .footer-info{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F8F8 no-repeat fixed center;
    }
    .info-s{
      margin-left: 5px;
     }

     .p-info{
      text-align: center;
      padding: 0 50px 0 50px;
     }
     /* --------------FOOTER-NAV------------------- */
    
    .footer-container {
    display: flex;  
    flex-direction:row;
    justify-content: center;
    align-items: center;
    
    }
        
    .footer-nav{
    display: flex;  
    flex-direction:row;
    }
        
    .name{
    margin-right: auto;
    }
    
    .nav-items{
    display: none;
    }
    
    